<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Stock{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- jQuery -->
        <script src="{{ asset('assets/js/jquery-2.2.3.min.js') }}"></script>

        <!-- Select2 -->
        <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}">
        <script src="{{ asset('assets/js/select2.min.js') }}"></script>

        <!-- Mis estilos -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <!-- Materialize -->
        <link rel="stylesheet" href="{{ asset('assets/css/icon.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}">
        <script src="{{ asset('assets/js/materialize.min.js') }}"></script>

    </head>
    <body>
        {%- include "MaterializeBundle:Materialize:js.html.twig" -%}

        {% include 'menu.html.twig' %}
        
        <main>
            <div class="container">
                <div class="row">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>

        {% include 'footer.html.twig' %}

    </body>

    <script type="text/javascript">
        $(".select2-combo").select2();
    </script>

    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
        })
    </script>
</html>
