<!-- Barra horizontal de navegación -->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('index') }}">Administrador de stock</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text navbar-right">Desarrollado por 
                    <a href="mailto:robysottini@gmail.com">Roberto Sottini</a>
                </p>
            </ul>
        </div>
    </div>
</nav>


<!-- Barra vertical de botones -->

<ul class="nav nav-pills nav-stacked">
    <li><a href="{{ url('aguja_index') }}">Agujas</a></li>
    <li><a href="{{ url('comprimido_index') }}">Comprimidos</a></li>
    <li><a href="{{ url('guante_index') }}">Guantes</a></li>
    <li><a href="{{ url('jeringa_index') }}">Jeringas</a></li>
    <li><a href="{{ url('torniquete_index') }}">Torniquetes</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Configuración <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ url('marca_index') }}">Marcas</a></li>
            <li><a href="{{ url('principioactivo_index') }}">Principios activos</a></li>
        </ul>
    </li>
</ul>