<header>
    
    <div class="navbar">
        <nav>
            <div class="container">

                <!-- Barra horizontal de navegación -->

                <div class="nav-wrapper">
                    <a href="{{ url('index') }}" class="brand-logo">Administrador de stock</a>

                    <!-- Ícono hamburguesa -->
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>


                <!-- Menú vertical desplegable -->

                <ul class="side-nav fixed">
                    <li class="bold"><a href="{{ url('aguja_index') }}" class="waves-effect waves-teal">Agujas</a></li>
                    <li class="bold"><a href="{{ url('comprimido_index') }}" class="waves-effect waves-teal">Comprimidos</a></li>
                    <li class="bold"><a href="{{ url('guante_index') }}" class="waves-effect waves-teal">Guantes</a></li>
                    <li class="bold"><a href="{{ url('jeringa_index') }}" class="waves-effect waves-teal">Jeringas</a></li>
                    <li class="bold"><a href="{{ url('torniquete_index') }}" class="waves-effect waves-teal">Torniquetes</a></li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Configuración<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="bold"><a href="{{ url('marca_index') }}" class="waves-effect waves-teal">Marcas</a></li>
                                        <li class="bold"><a href="{{ url('principioactivo_index') }}" class="waves-effect waves-teal">Principios activos</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

</header>
