{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar marca</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <br/>

        <input type="submit" value="Editar" class="btn" />
    {{ form_end(edit_form) }}
    <br/>
    <br/>
    <br/>
    <br/>

    <a href="{{ path('marca_index') }}" class="btn waves-effect waves-light">
        <i class="material-icons left">arrow_back</i>Volver a la lista</a>
    <br/>
    <br/>
    
    {{ form_start(delete_form) }}
        <button class="btn waves-effect waves-light" type="submit" name="action">Eliminar
            <i class="material-icons left">delete</i>
        </button>
    {{ form_end(delete_form) }}
{% endblock %}
