{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marca</h1>

    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ marca.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('marca_index') }}" class="btn btn-primary">Volver a la lista</a>
    <a href="{{ path('marca_edit', { 'id': marca.id }) }}" class="btn btn-primary">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-primary">
    {{ form_end(delete_form) }}
{% endblock %}
