{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar principio activo</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        </br>

        <input type="submit" value="Editar" class="btn" />
    {{ form_end(edit_form) }}
    </br>
    </br>
    </br>
    </br>

    <a href="{{ path('principioactivo_index') }}" class="btn waves-effect waves-light">Volver a la lista</a>
    </br>
    </br>
    
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn ">
    {{ form_end(delete_form) }}
{% endblock %}
