{% extends 'base.html.twig' %}

{% block body %}
    <h1>Principio activo</h1>

    <table class="bordered striped highlight responsive-table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ principioActivo.nombre }}</td>
            </tr>
        </tbody>
    </table>
    </br>

    <a href="{{ path('principioactivo_index') }}" class="btn waves-effect waves-light">Volver a la lista</a>
    </br>
    </br>
    </br>
    </br>

    <a href="{{ path('principioactivo_edit', { 'id': principioActivo.id }) }}" class="btn waves-effect waves-light">Editar</a>
    </br>
    </br>
    
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn">
    {{ form_end(delete_form) }}
{% endblock %}
