{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar aguja</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-primary" />
    {{ form_end(edit_form) }}

    <a href="{{ path('aguja_index') }}" class="btn btn-primary">Volver a la lista</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn">
    {{ form_end(delete_form) }}
{% endblock %}
