{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agujas</h1>
    
    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Capacidad</th>
                <th>Vencimiento</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for aguja in agujas %}
            <tr>
                <td>{{ aguja.nombre }}</td>
                <td>{{ aguja.capacidad }}</td>
                <td>{% if aguja.vencimiento %}{{ aguja.vencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ aguja.cantidad }}</td>
                <td>
                    <a href="{{ path('aguja_edit', { 'id': aguja.id }) }}" class="btn waves-effect waves-light">
                        <i class="material-icons left">edit</i>Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

    <div class="fixed-action-btn" style="bottom: 100px; right: 24px;">
        <a href="{{ path('aguja_new') }}" class="btn-floating btn-large waves-effect waves-light">
            <i class="large material-icons">add_circle</i>
        </a>
    </div>
    
{% endblock %}
