{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar torniquete</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn" />
    {{ form_end(edit_form) }}

    <a href="{{ path('torniquete_index') }}" class="btn waves-effect waves-light">Volver a la lista</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar"/>
    {{ form_end(delete_form) }}
{% endblock %}
