{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jeringas</h1>

    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Capacidad</th>
                <th>Vencimiento</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for jeringa in jeringas %}
            <tr>
                <td>{{ jeringa.marca }}</td>
                <td>{{ jeringa.capacidad }}</td>
                <td>{% if jeringa.vencimiento %}{{ jeringa.vencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ jeringa.cantidad }}</td>
                <td>
                    <a href="{{ path('jeringa_edit', { 'id': jeringa.id }) }}" class="btn waves-effect waves-light">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

    <a href="{{ path('jeringa_new') }}" class="btn waves-effect waves-light">Nueva jeringa</a>
{% endblock %}
