{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jeringa</h1>

    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ jeringa.marca }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ jeringa.capacidad }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{% if jeringa.vencimiento %}{{ jeringa.vencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ jeringa.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('jeringa_index') }}" class="btn btn-primary">Volver a la lista</a>
    <a href="{{ path('jeringa_edit', { 'id': jeringa.id }) }}" class="btn btn-primary">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-primary">
    {{ form_end(delete_form) }}
{% endblock %}
