{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprimidos</h1>

    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Principioactivo</th>
                <th>Peso</th>
                <th>Vencimiento</th>
                <th>Lote</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for comprimido in comprimidos %}
            <tr>
                <td>{{ comprimido.nombre }}</td>
                <td>{{ comprimido.marca }}</td>
                <td>{{ comprimido.principioActivo }}</td>
                <td>{{ comprimido.peso }}</td>
                <td>{% if comprimido.vencimiento %}{{ comprimido.vencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ comprimido.lote }}</td>
                <td>{{ comprimido.cantidad }}</td>
                <td>
                    <a href="{{ path('comprimido_edit', { 'id': comprimido.id }) }}" class="btn waves-effect waves-light">
                        <i class="material-icons left">edit</i>Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

    <div class="fixed-action-btn" style="bottom: 100px; right: 24px;">
        <a href="{{ path('comprimido_new') }}" class="btn-floating btn-large waves-effect waves-light">
            <i class="large material-icons">add_circle</i>
        </a>
    </div>
    
{% endblock %}
