{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comprimido</h1>

    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ comprimido.nombre }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ comprimido.marca }}</td>
            </tr>
            <tr>
                <th>Principioactivo</th>
                <td>{{ comprimido.principioActivo }}</td>
            </tr>
            <tr>
                <th>Peso</th>
                <td>{{ comprimido.peso }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{% if comprimido.vencimiento %}{{ comprimido.vencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lote</th>
                <td>{{ comprimido.lote }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ comprimido.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comprimido_index') }}" class="btn btn-primary">Volver a la lista</a>
    <a href="{{ path('comprimido_edit', { 'id': comprimido.id }) }}" class="btn btn-primary">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-primary">
    {{ form_end(delete_form) }}
{% endblock %}
