{% extends 'base.html.twig' %}

{% block body %}
    <h1>Guantes</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Descripcion</th>
                <th>Vencimiento</th>
                <th>Libredetalco</th>
                <th>Lote</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for guante in guantes %}
            <tr>
                <td>{{ guante.marca }}</td>
                <td>{{ guante.descripcion }}</td>
                <td>{% if guante.vencimiento %}{{ guante.vencimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{% if guante.libreDeTalco %}Yes{% else %}No{% endif %}</td>
                <td>{{ guante.lote }}</td>
                <td>{{ guante.cantidad }}</td>
                <td>
                    <a href="{{ path('guante_edit', { 'id': guante.id }) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('guante_new') }}" class="btn btn-primary">Nuevo guante</a>
{% endblock %}
