{% extends 'base.html.twig' %}

{% block body %}
    <h1>Guante</h1>

    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <th>Marca</th>
                <td>{{ guante.marca }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ guante.descripcion }}</td>
            </tr>
            <tr>
                <th>Vencimiento</th>
                <td>{% if guante.vencimiento %}{{ guante.vencimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Libredetalco</th>
                <td>{% if guante.libreDeTalco %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Lote</th>
                <td>{{ guante.lote }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ guante.cantidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('guante_index') }}" class="btn btn-primary">Volver a la lista</a>
    <a href="{{ path('guante_edit', { 'id': guante.id }) }}" class="btn btn-primary">Editar</a>
    {{ form_start(delete_form) }}
        <input type="submit" value="Eliminar" class="btn btn-primary">
    {{ form_end(delete_form) }}
{% endblock %}
